export PATH=$PATH:/usr/local/rvm/gems/{{ruby_version}}/bin:/usr/local/rvm/gems/{{ruby_version}}@global/bin:/usr/local/rvm/rubies/{{ruby_version}}/bin:/usr/local/rvm/bin
export GEM_HOME=/usr/local/rvm/gems/{{ruby_version}}
export GEM_PATH=/usr/local/rvm/gems/{{ruby_version}}:/usr/local/rvm/gems/{{ruby_version}}@global
